.listElement {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    border-color: #cabdbd;
    border-style: groove;
}

.columnHeader {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    text-align: center;
}

.list {
    list-style: none outside none;
    padding-left: 0;
}
.tableName {
    font-size: xx-large;
}
