.mat-table {
  white-space: pre-line;
}

.mat-column-anamnesis {
  width: 40%;
}

.mat-column-time {
  width: 15%;
}

.mat-column-address {
  width: 25%;
}

.mat-column-phone {
  width: 10%;
}

.mat-column-doctorType {
  width: 10%;
}

